html[dir="ltr"] #content {
  padding-left: 15px;
}
html[dir="rtl"] #content {
  padding-right: 15px;
}
#glass-navbar-overlay {
  display: none;
}
#glass-navbar-overlay.open-prefs-dropdown,
#glass-navbar-overlay.open-search-list,
#glass-navbar-overlay.focus-search-input {
  z-index: 99999;
  position: fixed;
  opacity: 0.75;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  margin-top: -30px;
  display: block;
}
#glass-navbar-overlay.open-prefs-dropdown ~ header .navbar-fixed-top,
#glass-navbar-overlay.open-search-list ~ header .navbar-fixed-top,
#glass-navbar-overlay.focus-search-input ~ header .navbar-fixed-top {
  z-index: 100000;
}
#glass-navbar-overlay.focus-search-input {
  z-index: 99999;
  position: fixed;
  opacity: 0.75;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  margin-top: -30px;
  display: block;
}
#glass-navbar-overlay.focus-search-input ~ header .navbar-fixed-top {
  z-index: 100000;
}
@media (min-width: 576px) {
  #glass-navbar-overlay.focus-search-input:not(.open-search-list):not(.open-prefs-dropdown) {
    display: none;
  }
}
h1.page-header {
  border-bottom: 0;
  font-weight: lighter;
}
html[dir="ltr"] h1.page-header {
  border-left: 4px solid #ff5e1a;
  padding: 0 0 0 0.5em;
}
html[dir="rtl"] h1.page-header {
  border-right: 4px solid #ff5e1a;
  border-left: none;
  padding: 0 0.5em 0 0;
}
.page-icon {
  display: none;
}
/* Alert style overrides for mobile screens */
@media (max-width: 768px) {
  .cpanel_body .alert-list-container.position-top-right,
  .cpanel_body .alert-list-container.position-top-left,
  .cpanel_body .alert-list-container.position-top-middle {
    top: 60px;
  }
}
